.logo {
  color: #22968b!important;
}

.ir-arriba {
  display: none;
  padding: 10px;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 35px;
}

nav {
  background-color: #000000 !important;
}

nav li a{
  color: #22968b!important;
}

nav li:hover {
  background-color: #0c3632;
}

/*estilos slider*/

#slider {
  width: 100%;
  height: 100vh;
}

canvas {
  margin-top: -15px;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  cursor: none;
}

.particles {
  width: 135px;
  height: 45px;
  background-color: lightgray;
  top: 0px;
  right: 0px;
  position: fixed;
  line-height: 22px;
  font-size: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  color: #151B1F;
  text-align: center;
}

.inner-text {
  margin-top: 2em;
  position: absolute;
  margin-left: 25px;
  color: #ecf0f1;
  font-size: 33px;
  top: 10px;
  pointer-events: none;
}

@media only screen and (min-width: 320px) {
  .inner-text {
    height: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 55px;
    margin-top: 4em;
  }
}

@media only screen and (min-width: 400px) {
  .inner-text {
    height: auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 680px) {
  .inner-text {
    height: auto;
    text-align: center;
    font-size: 75px;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 950px) {
  .inner-text {
    height: auto;
    text-align: center;
    font-size: 100px;
    margin-top: 2em;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #fff;
}

@media only screen and (max-width: 465px) {
  .p1 {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #22968b;
}

@media only screen and (max-width: 465px) {
  .p2 {
    position: relative;
    top: 0.6em;
  }
}

/*estilos about*/

#about {
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
}

#about .contenedor #mytext {
  margin-top: 6em;
  font-size: 14px;
  font-weight: 500;
}

#about .contenedor #myimg {
  margin-top: 5em;
}

/*estilos skill*/

#skills {
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
  background-color: #262626;
}

#skills #titulo {
  margin-bottom: 4em;
  color: #fff;
}

#html5 {
  font-size: 8em;
  color: #ff2500;
}

#css3 {
  font-size: 8em;
  color: #1f99ca;
}

#js {
  font-size: 8em;
  color: #ffa700;
}

#jquery {
  font-size: 8em;
  color: #0070ff;
}

#bootstrap {
  font-size: 8em;
  color: #59407f;
}

#materialize {
  width: 12em;
  margin-left: -19px;
  margin-top: 28px;
}

#sass {
  font-size: 8em;
  color: #cc6699;
}

#react {
  font-size: 8em;
  color: #61dafb;
}

#cont-illust {
  background-color: #ff7c00;
  width: 116px;
}

#illustrator {
  font-size: 8em;
  color: #1c0a00;
}

#angular {
  font-size: 8em;
  color: #c4473a;
}

/*estilo project*/
#proyect {
  height: auto;
  padding-top: 6rem;
}



/*estilo contacto*/
#contact {
  height: auto;
  padding-top: 6rem;
  background-color: #262626;
}

#contact h4 {
  color: #fff;
}

#contenedor {
  margin-top: 1em;
}

.info {
  margin-top: 2em;
}

#contact .cont-icon {
  width: 6em;
  height: 6em;
  background-color: #22968b;
  display: block;
}

#contact a i {
  font-size: 2.6rem;
  margin-top: 14px;
  color: #fff;
}

.icon-contact-what {
  width: 142px;
  margin-top: 9px;
  margin-left: -36px;
}

.icon-contact{
  width: 142px;
  margin-top: 25px;
  margin-top: 1px;
  margin-left: -27px;
}

.link-redes {
  color: #fff!important;
  font-size: 18px;
}

/*estilo footer*/

footer {
  background-color: #000;
  height: 100px;
  margin-top: -20px;
}

footer #foo {
  color: #22968b;
  padding-top: 2em;
}

/* media queris*/

@media only screen and (min-width: 400px) {
  #about {
    height: auto;
  }
}