.logo {
  color: #22968b!important;
}

.verde {
  color: #22968b;
}

.ir-arriba {
  display: none;
  padding: 10px;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

nav {
  background-color: #000000 !important;
}

nav li a{
  color: #22968b!important;
}

nav li:hover {
  background-color: #0c3632;
}

/*estilos slider*/

#slider {
  width: 100%;
  height: 100vh;
}

canvas {
  margin-top: -15px;
  width: 100%;
  max-width: 3000px;
  height: 100vh;
  background-color: #262626;
  cursor: none;
}

.particles {
  width: 135px;
  height: 45px;
  background-color: lightgray;
  top: 0px;
  right: 0px;
  position: fixed;
  line-height: 22px;
  font-size: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  color: #151B1F;
  text-align: center;
}

.inner-text {
  text-align: center;
  margin-top: 3.5em;
  position: absolute;
  margin-left: 25px;
  color: #ecf0f1;
  font-size: 5em;
  top: 10px;
  pointer-events: none;
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #fff;
}

.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #22968b;
}

/*estilos about*/

#about {
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
}

#about .contenedor #mytext {
  margin-top: 6em;
  font-size: 14px;
  font-weight: 500;
}

#about .contenedor #mytext p {
  margin-top: 4em;
  font-size: 1.1em;
}

#about .contenedor #myimg {
  margin-top: 5em;
}

/*estilos skill*/

#skills {
  width: 100%;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #262626;
  text-align: center;
}

#skills .titulo {
  margin-bottom: 4em;
  color: #fff;
}

.altura-skill {
  margin-top: 30px;
}

#html5 {
  font-size: 8em;
  color: #ff2500;
}

#css3 {
  font-size: 8em;
  color: #1f99ca;
}

#js {
  font-size: 8em;
  color: #ffa700;
}

#jquery {
  font-size: 8em;
  color: #0070ff;
}

#bootstrap {
  font-size: 8em;
  color: #59407f;
}

#materialize {
  width: 12em;
  margin-left: -19px;
  margin-top: 28px;
}

#sass {
  font-size: 8em;
  color: #cc6699;
}

#react {
  font-size: 8em;
  color: #61dafb;
}

#cont-illust {
  background-color: #ff7c00;
  width: 121px;
}

#illustrator {
  font-size: 8em;
  color: #1c0a00;
}

#git {
  font-size: 8em;
  color: #000;
}

#github {
  font-size: 8em;
  color: #000;
}

#trello {
  font-size: 8em;
  color: #23719f;
}

#angular {
  font-size: 8em;
  color: #c4473a;
}


/*estilo project*/
#proyect {
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#proyect img{
  width: 100%;
  height: 179px;
}

.descripcion {
  width: 245px;
  height: 110px;
}

.card-image span {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
}

/*estilo contacto*/
#contact {
  height: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #262626;
}

#contact h4 {
  color: #fff;
}

#contenedor {
  margin-top: 1em;
}

.info {
  margin-top: 2em;
}

#contact .cont-icon {
  width: 6em;
  height: 6em;
  background-color: #22968b;
  display: block;
}

#contact a i {
  font-size: 2.6rem;
  margin-top: 14px;
  color: #fff;
}

.icon-contact-what {
  width: 142px;
  margin-top: 9px;
  margin-left: -36px;
}

.icon-contact{
  width: 142px;
  margin-top: 25px;
  margin-top: 1px;
  margin-left: -27px;
}

.link-redes {
  color: #fff!important;
  font-size: 18px;
}

/*estilo footer*/

footer {
  background-color: #000;
  height: 100px;
  margin-top: -20px;
}

footer #foo {
  color: #22968b;
  padding-top: 2em;
}

/* media queris*/
@media only screen and (max-device-width: 319px) {
  #slider {
    display: none;
  }
  #about {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav {
    width: 100%;
  }

  #slider {
    display: none;
  }

  #about {
    height: auto;
  }

  #about .contenedor #mytext {
    margin-top: -50px;
  }

  #about .contenedor #myimg {
    margin-top: 0;
  }

  .titulo {
    text-align: center;
  }

  #html5 {
    font-size: 6em;
    color: #ff2500;
  }

  #css3 {
    font-size: 6em;
    color: #1f99ca;
  }

  #js {
    font-size: 6em;
    color: #ffa700;
  }

  #jquery {
    font-size: 6em;
    color: #0070ff;
  }

  #bootstrap {
    font-size: 6em;
    color: #59407f;
  }

  #materialize {
    width: 8em;
    margin-top: 28px;
  }

  #sass {
    font-size: 6em;
    color: #cc6699;
    padding-left: 99px;
  }

  #react {
    font-size: 6em;
    color: #61dafb;
  }

  #cont-illust {
    background-color: #ff7c00;
    width: 85px;
    position: relative;
    margin-left: 40px;
  }

  #illustrator {
    font-size: 6em;
    color: #1c0a00;
  }

  #git {
    font-size: 6em;
    color: #000;
    padding-left: 35px;
  }

  #github {
    font-size: 6em;
    color: #000;
  }

  #trello {
    font-size: 6em;
    color: #23719f;
  }

  #angular {
    font-size: 6em;
    color: #c4473a;
  }

  #foo {
    text-align: center;
  }

  .p1 {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .p2 {
    position: relative;
    top: 0.6em;
  }

  .info {
    padding-left: 50px;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 599px) {
  .inner-text {
    height: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 55px;
    margin-top: 5em;
  }

  #git {
    padding-left: 45px;
  }

  #sass {
    padding-left: 119px;
  }

  #cont-illust {
    position: relative;
    margin-left: 40px;
  }

  .info {
    padding-left: 45px;
  }

  #mytext h4 {
    text-align: center;
  }

  .titulo {
    text-align: center;
  }
}

@media only screen and (min-device-width:600px) and (max-device-width:799px) {
  #cont-illust {
    position: relative;
    margin-left: 40px;
  }
}

@media only screen and (min-device-width:800px) and (max-device-width:967px) {
  .inner-text {
    height: auto;
    text-align: center;
    font-size: 100px;
    margin-top: 2em;
  }
}

@media only screen and (min-device-width:1024px) {
  #about {
    height: 100vh;
  }
  #about .contenedor #mytext p {
    font-size: 1.3em;
  }

  #cont-illust {
    position: relative;
    margin-left: 43px;
  }
}

