.ir-arriba {
	display:none;
	padding:10px;
	font-size:21px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:35px;
}

#slider {
  width: 100%;
  height: 100vh;
}

.parallax-container {
  height: 100vh;
  margin-top: -15px;
}

.icon-menu:before {
  content: "\e9bd";
}

#about {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
}

#skills {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
}

#proyect {
  width: 100%;
  height: 180vh;
  padding-top: 8rem;
}

#contact {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
}

.icon-arrow-up:before {
  content: "\ea32";
}

.img-skills {
  width: 100px;
  height: 100px;
}

.card .card-image {
  opacity: 0.5;
  filter:  alpha(opacity=50);
}

.icon-envelop:before {
  content: "\e945";
  font-size: 3em;
  color: blueviolet;
  padding: 1em;
}

.icon-github:before {
  content: "\eab0";
  font-size: 3em;
  color: blueviolet;
  padding: 1em;
}

.icon-linkedin:before {
  content: "\eac9";
  font-size: 3em;
  color: blueviolet;
  padding: 1em;
}

.icon-cloud-download:before {
  content: "\e9c2";
  font-size: 3em;
  color: blueviolet;
  padding: 1em;
}